<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>sarvasv is despactio directory</title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Menu</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('anotherpage') }}">Why despacito is trash</a></li>
            <li><a href="{{ url_for('landingpage') }}">Landing page</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

 </body>
</html>